# Environments
.env
venv/

# Django-related ignores
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
migrations/
dist/
build/

# Logs and temporary files
*.swp
*.tmp
*.bak
*.pid
*.cache
*.DS_Store
Thumbs.db